<app-nav-dealer></app-nav-dealer>
<header>
<div class="desktop-and-tablet position-relative">
    <div class="videoAccueilFrame d-flex justify-content-center position-relative d-flex align-items-center">
      <div class="videoAccueilRow">
        <img src="../../assets/dealer.jpg" class="backgroundImageHome" alt="bako motors with door">
      </div>
    </div>
    <div class="row position-absolute arrow-direction">
      <div class="col-12 d-flex justify-content-center">
        <div class="arrowAnimation"><i class="ri-arrow-down-s-line ri-3x"></i></div>
      </div>
    </div>
    <div class="row mb-5 p-5 ">
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-end">
        <div class="desktop-and-tablet">
          <div class="certifFrame">
            <div class="certifRow">
              <img class="certifImageStyle" src="../../assets/imgs/certifs//financement zitouna.PNG">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 padding-top-title col-xl-6 col-sm-12">
        <h2>Zitouna Tamakeen</h2>
        <div class="col-12 mt-2"><div class="lineBlue"></div></div>
        <div class="mobile-display width-100">
          <div class="col-md-6 mb-3 col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-end">
            <div class="certifFrame">
              <div class="certifRow">
                <img class="certifImageStyle" src="../../assets/imgs/certifs/cert.png">
              </div>
            </div>
          </div>
        </div>
        <p>
          Vous pouvez acquérir un package complet comprenant le véhicule et une facilité de paiement.        </p>
      </div>
    </div>

    <div class="row mb-5 p-5 ">
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-end">
        <div class="desktop-and-tablet">
          <div class="certifFrame">
            <div class="certifRow">
              <img class="certifImageStyle" src="../../assets/imgs/certifs/Enda-Tamweel.jpg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 padding-top-title col-xl-6 col-sm-12">
        <h2>Enda Tamweel</h2>
        <div class="col-12 mt-2"><div class="lineBlue"></div></div>
        <div class="mobile-display width-100">
          <div class="col-md-6 mb-3 col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-end">
            <div class="certifFrame">
              <div class="certifRow">
                <img class="certifImageStyle" src="../../assets/imgs/certifs/cert.png">
              </div>
            </div>
          </div>
        </div>
        <p>
          Vous pouvez acquérir un package complet comprenant le véhicule et une facilité de paiement.        </p>
      </div>
    </div>

  </div> 

  <div class="mobile-display  mobileHead">
    <div class="videoAccueilFrame d-flex justify-content-center position-relative d-flex align-items-center">
      <div class="videoAccueilRow">
        <img src="../../assets/dealer.jpg" class="backgroundImageHome" alt="bako motors with door">
      </div>
    </div>
    <div class="row position-absolute arrow-direction">
      <div class="col-12 d-flex justify-content-center">
        <div class="arrowAnimation"><i class="ri-arrow-down-s-line ri-3x"></i></div>
      </div>
    </div>
    <div class="row mb-5 p-5 ">
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-end">
        <div class="desktop-and-tablet">
          <div class="certifFrame">
            <div class="certifRow">
              <img class="certifImageStyle" src="../../assets/imgs/certifs//financement zitouna.PNG">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 padding-top-title col-xl-6 col-sm-12">
        <h2>Zitouna Tamakeen</h2>
        <div class="col-12 mt-2"><div class="lineBlue"></div></div>
        <div class="mobile-display width-100">
          <div class="col-md-6 mb-3 col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-end">
            <div class="certifFrame">
              <div class="certifRow">
                <img class="certifImageStyle" src="../../assets/imgs/certifs/cert.png">
              </div>
            </div>
          </div>
        </div>
        <p>
          Vous pouvez acquérir un package complet comprenant le véhicule et une facilité de paiement.        </p>
      </div>
    </div>

    <div class="row mb-5 p-5 ">
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-end">
        <div class="desktop-and-tablet">
          <div class="certifFrame">
            <div class="certifRow">
              <img class="certifImageStyle" src="../../assets/imgs/certifs/Enda-Tamweel.jpg">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 padding-top-title col-xl-6 col-sm-12">
        <h2>Enda Tamweel</h2>
        <div class="col-12 mt-2"><div class="lineBlue"></div></div>
        <div class="mobile-display width-100">
          <div class="col-md-6 mb-3 col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-end">
            <div class="certifFrame">
              <div class="certifRow">
                <img class="certifImageStyle" src="../../assets/imgs/certifs/cert.png">
              </div>
            </div>
          </div>
        </div>
        <p>
          Vous pouvez acquérir un package complet comprenant le véhicule et une facilité de paiement.        </p>
      </div>
</div>
  </div>
</header>